{% extends "::layout.html.twig" %}

{% block title %}Hey{% endblock %}

{% block content %}

    <section class="row">
        <h1>Category list </h1>
        {% for category in categories %}

            <h2 class="text-center"><a href="{{ url('category_show', {'id': category.id}) }}"> {{ category.name }}</a></h2>

        {% endfor %}
    </section>

{% endblock %}