<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <!-- Latest compiled and minified JavaScript -->

    <title>{% block title %} Super manga blog {% endblock %} </title>



    {% block stylesheets %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    {% endblock %}
    {% stylesheets '@AppBundle/Resources/public/css/*' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>
<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Super manga blog</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="{{ url('article') }}">All anime!</a></li>
                        <li><a href="{{ url('category') }}">Our categories</a></li>
                        <li><a href="{{ url('contact') }}">Contact us</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
    </header>
        <div class="container">
        {% block content %}
        {% endblock %}

            <footer>
                <p class="text-center">License MIT :)</p>
            </footer>

    {% block javascripts %}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            <script>
            //Haut, haut, bas, bas, gauche, droite, gauche, droite, B, A
            var k = [38, 38, 40, 40, 37, 39, 37, 39, 66, 65],
            n = 0;
            $(document).keydown(function (e) {
            if (e.keyCode === k[n++]) {
            if (n === k.length) {
            
            window.location.href = "http://forumjunk.0x1a4.com/pirate.swf";
            return !1
            }
            } else k = 0
            });
            </script>
        </div>
    {% endblock %}
</body>
</html>